<!-- Chefs Section -->
<section id="chefs" class="chefs section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Chefs</h2>
    <p>Meet our talented culinary team dedicated to creating exceptional dining experiences</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
      <div class="col-lg-5">
        <div class="chef-highlight" data-aos="fade-right" data-aos-delay="200">
          <figure class="chef-image">
            <img src="{{ '/assets/img/restaurant/chef-1.webp' | relative_url }}" class="img-fluid" alt="Executive Chef">
          </figure>
          <div class="chef-details">
            <h3>Executive Chef</h3>
            <h2>Gabriel Turner</h2>
            <div class="chef-awards">
              <span><i class="bi bi-star-fill"></i> James Beard Award</span>
              <span><i class="bi bi-star-fill"></i> Two Michelin Stars</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor nisi elit.</p>
            <div class="chef-signature">
              <img src="{{ '/assets/img/misc/signature-1.webp' | relative_url }}" alt="Chef Signature">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="team-container" data-aos="fade-left" data-aos-delay="300">
          <div class="row g-4">
            <div class="col-md-6">
              <div class="chef-card" data-aos="zoom-in" data-aos-delay="200">
                <div class="chef-img">
                  <img src="{{ '/assets/img/restaurant/chef-2.webp' | relative_url }}" class="img-fluid" alt="Chef Portrait">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                  </div>
                </div>
                <div class="chef-info">
                  <h4>Sophia Martinez</h4>
                  <p class="role">Pastry Chef</p>
                  <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim purus a ipsum faucibus, et porttitor.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="chef-card" data-aos="zoom-in" data-aos-delay="250">
                <div class="chef-img">
                  <img src="{{ '/assets/img/restaurant/chef-3.webp' | relative_url }}" class="img-fluid" alt="Chef Portrait">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                  </div>
                </div>
                <div class="chef-info">
                  <h4>Marcus Chen</h4>
                  <p class="role">Sous Chef</p>
                  <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim purus a ipsum faucibus, et porttitor.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="chef-card" data-aos="zoom-in" data-aos-delay="300">
                <div class="chef-img">
                  <img src="{{ '/assets/img/restaurant/chef-4.webp' | relative_url }}" class="img-fluid" alt="Chef Portrait">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                  </div>
                </div>
                <div class="chef-info">
                  <h4>Jonathan Williams</h4>
                  <p class="role">Head of Bar</p>
                  <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim purus a ipsum faucibus, et porttitor.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="chef-card" data-aos="zoom-in" data-aos-delay="350">
                <div class="chef-img">
                  <img src="{{ '/assets/img/restaurant/chef-5.webp' | relative_url }}" class="img-fluid" alt="Chef Portrait">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                  </div>
                </div>
                <div class="chef-info">
                  <h4>Bill Romano</h4>
                  <p class="role">Grill Master</p>
                  <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim purus a ipsum faucibus, et porttitor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section><!-- /Chefs Section -->

